<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
    <head>
        <title>Articles</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
           
            img{
                width: 100px;
                height: 100px;
            }
            .header
            {
                font-size: 30pt;
                text-align: center;
                background-color: #907867;
            }
            .activepage{
                
                background-color: graytext;
            }
            .notactivepage{
                
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        
    </head>
    <body>
        <div style="float:right;">
            <a th:href="@{/articles/user/go(page=${page},lang=en)}">En</a>
            <a th:href="@{/articles/user/go(page=${page},lang=kh)}">Kh</a>
             <button style="border-radius: 50%"><a href="/logout">logout</a></button>
        </div>
        <div class="col-md-4 col-sm-6"> Welcome <span sec:authorize="hasRole('ROLE_ADMIN')"> Admin </span> : <span sec:authentication="name"></span></div>
        <div class="col-md-12 col-sm-12 header" th:text="#{form.articles.header}">
            
        </div>
      
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/articles/add}" class="btn btn-default" th:text="#{form.articles.addnew}">Add new Article</a>
        </div>
            <div th:if="(${maxpage} gt 1)" style="text-align: center" class="col-md-12 col-sm-12" >
                <a th:each="i : ${#numbers.sequence( 1,maxpage)}" th:class="(${i}==${page})?activepage:notactivepage" th:text="${i}"
                   th:href="@{/articles/user/go(page=${i})}"></a>
            </div>
            <div th:if="(${maxpage} gt 1)" style="text-align: center" class="col-md-12 col-sm-12" >
                <a  th:href="@{/articles/user/go(page=1)}">first</a>
                <a  th:href="(${page}!=1)?@{/articles/user/go(page=(${page}-1))}:@{/articles/user/go(page=1)}">prev</a> 
                <a  th:href="(${page}!=${maxpage})?@{/articles/user/go(page=(${page}+1))}:@{/articles/user/go(page=${maxpage})}">next</a> 
                <a  th:href="@{/articles/user/go(page=${maxpage})}">last</a>
            </div>
            <div class="col-md-12 col-sm-12"><a href="/articles/filter/">Go to Filtered page</a></div>
        <table border="1" class="table table-hover col-md-12">
            <thead>
                <tr>
                    <th th:text="#{form.articles.infor.id}">ID</th>
                    <th th:text="#{form.articles.infor.title}">Title</th>
                    <th th:text="#{form.articles.infor.description}">Description</th>
                    <th th:text="#{form.articles.infor.author}">Author</th>
                    <th th:text="#{form.articles.infor.cover}">Cover</th>
                    <th th:text="#{form.articles.infor.category}">Category</th>
                    <th th:text="#{form.articles.infor.action}">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="article : ${articles}" th:object="${article}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{description}"></td>
                    <td th:text="*{author}"></td>
                    <td>
                        <img th:src="*{thumbnail}" />
                    </td>
                    <td th:text="*{category.name}"></td>
                    <td>
                        <a  th:href="@{/articles/user/view(id=*{id})}" th:text="#{form.articles.infor.action.view}"></a><br/>
                        <a  sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/articles/remove(id=*{id},page=${page})}" th:text="#{form.articles.infor.action.remove}"></a><br/>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/articles/update(id=*{id},page=${page})}" th:text="#{form.articles.infor.action.edit}"></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
